.container{
    /* background-color: #F9DCD1 !important; */
    /* border-radius: 10px; */
    
}
.header1{
    background-color:#F9DCD1 !important;
    color: rgba(229, 12, 12, 0.895);
    
}

.movedown{
   margin-top: 100px;
    padding-left: 50px;
}
.bigbox{
    background-color: rgb(68, 68, 235);
    color: white;
    height: 18%;
    width: 20%;
}
.magic{
    background-color: #F9DCD1 !important;
    /* border: 2px solid black; */
    margin-bottom: 20px;
 
 
}


.deskk{
    margin-top: 20px;
    
}
 
.lappy{
    font-size: 100px;
    padding-top: 17px;
    color: blue;
    text-align: center;
}

.feat{
    justify-content: space-between;
    margin-top: 30px;
}
.pfeature{
    background-color: blue;
    color: white;
   
 
}

.magic2{
    background-color: rgb(247, 161, 175);
    height: 600px;
}
.header2{
    color: rgba(229, 12, 12, 0.895);
}
.projectt{
    /* border: 2px solid black;
    margin-bottom: 300px; */
  
}
.bigg{
   border: 2px solid black;
}

.donzo{
    justify-content: space-between;
    margin-top: 100px !important;
    border: 2px solid black;
}
.iphone15{
    margin-top: 15px;
    margin-left: 120px;
}
.text-1{
    font-size: 12px !important;
    color: rgb(82, 82,82);
    font-weight: 700 !important;
}

.text-2{
    font-size: 17px !important;
    color: rgb(82, 82,82);
    font-weight: 700 !important;
}






